<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.walmart_6g.walmartUserService.mapper">

    <select id="selectPage" resultType="com.walmart_6g.walmartUserService.entity.User">
        select * FROM user ${ew.customSqlSegment}
    </select>
</mapper>
